In [1]:
!pip install findspark pyspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession

In [5]:

spark = SparkSession.builder.appName("DataFrameOperations").getOrCreate() ##

In [6]:
data = [("Alice", 25, "New York", "Female"),
        ("Bob", 35, "Los Angeles", "Male"),
        ("Charlie", 28, "Chicago", "Male"),
        ("David", 42, "Houston", "Male"),
        ("Emily", 30, "Miami", "Female"),
        ("Frank", 22, "Dallas", "Male"),
        ("Grace", 38, "Philadelphia", "Female"),
        ("Henry", 29, "San Antonio", "Male"),
        ("Isabella", 33, "San Diego", "Female"),
        ("Jack", 45, "San Jose", "Male")]

In [7]:
df = spark.createDataFrame(data, ["name", "age", "city", "gender"])

In [8]:
# Filter rows with age greater than 30
filtered_df = df.filter(df["age"] > 30)

In [9]:
# Add a new column "tax" (you can define the logic for tax calculation)
filtered_df = filtered_df.withColumn("tax", filtered_df["age"] * 0.1)

In [10]:
# Rename the "age" column to "years"
renamed_df = filtered_df.withColumnRenamed("age", "years")

In [11]:
# Drop multiple columns
final_df = renamed_df.drop("city", "gender")

In [12]:
# Show the final DataFrame
final_df.show()

+--------+-----+------------------+
|    name|years|               tax|
+--------+-----+------------------+
|     Bob|   35|               3.5|
|   David|   42|               4.2|
|   Grace|   38|3.8000000000000003|
|Isabella|   33|3.3000000000000003|
|    Jack|   45|               4.5|
+--------+-----+------------------+