In [ ]:
# Step 1: Initialize Spark Session
spark = SparkSession.builder \
    .appName("Product Data Analysis") \
    .getOrCreate()

# Step 2: Create DataFrame with product data
data = [
    (1, "Laptop", "Electronics", 800, 10, 4.5),
    (2, "Smartphone", "Electronics", 500, 20, 4.3),
    (3, "Desk Chair", "Furniture", 150, 15, 4.2),
    (4, "Monitor", "Electronics", 200, 12, 4.1),
    (5, "Table", "Furniture", 300, 8, 4.0),
    (6, "Washing Machine", "Appliances", 700, 5, 4.6),
    (7, "Refrigerator", "Appliances", 1200, 3, 4.8),
    (8, "Headphones", "Electronics", 100, 25, 4.4),
    (9, "Microwave", "Appliances", 150, 7, 4.3),
    (10, "Sofa", "Furniture", 600, 4, 4.7)
]

# Define column names
columns = ["ProductID", "ProductName", "Category", "Price", "StockQuantity", "Rating"]

# Create DataFrame
df = spark.createDataFrame(data, columns)

# Show the initial DataFrame
print("Original DataFrame:")
df.show()

# Step 3: Sort by Price in descending order and then by Category in ascending order
sorted_df = df.orderBy(col("Price").desc(), col("Category").asc())
print("\nSorted DataFrame (by Price desc, Category asc):")
sorted_df.show()

# Step 4: Find total sales amount for each product by Category
sales_by_category = df.withColumn("TotalSales", col("Price") * col("StockQuantity")) \
    .groupBy("Category") \
    .agg(sum("TotalSales").alias("TotalSalesAmount"))

print("\nTotal Sales Amount by Category:")
sales_by_category.show()

# Step 5: Find total sales amount and total quantity sold for each product
sales_by_product = df.withColumn("TotalSales", col("Price") * col("StockQuantity")) \
    .groupBy("ProductName") \
    .agg(
        sum("TotalSales").alias("TotalSalesAmount"),
        sum("StockQuantity").alias("TotalQuantitySold")
    )

print("\nTotal Sales Amount and Total Quantity Sold for Each Product:")
sales_by_product.show()

# Stop Spark Session
spark.stop()

NameError: name 'SparkSession' is not defined

NameError: name 'SparkSession' is not defined

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

NameError: name 'SparkSession' is not defined

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum

In [ ]:
# Step 1: Initialize Spark Session
spark = SparkSession.builder \
    .appName("Product Data Analysis") \
    .getOrCreate()

# Step 2: Create DataFrame with product data
data = [
    (1, "Laptop", "Electronics", 800, 10, 4.5),
    (2, "Smartphone", "Electronics", 500, 20, 4.3),
    (3, "Desk Chair", "Furniture", 150, 15, 4.2),
    (4, "Monitor", "Electronics", 200, 12, 4.1),
    (5, "Table", "Furniture", 300, 8, 4.0),
    (6, "Washing Machine", "Appliances", 700, 5, 4.6),
    (7, "Refrigerator", "Appliances", 1200, 3, 4.8),
    (8, "Headphones", "Electronics", 100, 25, 4.4),
    (9, "Microwave", "Appliances", 150, 7, 4.3),
    (10, "Sofa", "Furniture", 600, 4, 4.7)
]

# Define column names
columns = ["ProductID", "ProductName", "Category", "Price", "StockQuantity", "Rating"]

# Create DataFrame
df = spark.createDataFrame(data, columns)

# Show the initial DataFrame
print("Original DataFrame:")
df.show()

# Step 3: Sort by Price in descending order and then by Category in ascending order
sorted_df = df.orderBy(col("Price").desc(), col("Category").asc())
print("\nSorted DataFrame (by Price desc, Category asc):")
sorted_df.show()

# Step 4: Find total sales amount for each product by Category
sales_by_category = df.withColumn("TotalSales", col("Price") * col("StockQuantity")) \
    .groupBy("Category") \
    .agg(sum("TotalSales").alias("TotalSalesAmount"))

print("\nTotal Sales Amount by Category:")
sales_by_category.show()

# Step 5: Find total sales amount and total quantity sold for each product
sales_by_product = df.withColumn("TotalSales", col("Price") * col("StockQuantity")) \
    .groupBy("ProductName") \
    .agg(
        sum("TotalSales").alias("TotalSalesAmount"),
        sum("StockQuantity").alias("TotalQuantitySold")
    )

print("\nTotal Sales Amount and Total Quantity Sold for Each Product:")
sales_by_product.show()

# Stop Spark Session
spark.stop()

Original DataFrame:
+---------+---------------+-----------+-----+-------------+------+
|ProductID|    ProductName|   Category|Price|StockQuantity|Rating|
+---------+---------------+-----------+-----+-------------+------+
|        1|         Laptop|Electronics|  800|           10|   4.5|
|        2|     Smartphone|Electronics|  500|           20|   4.3|
|        3|     Desk Chair|  Furniture|  150|           15|   4.2|
|        4|        Monitor|Electronics|  200|           12|   4.1|
|        5|          Table|  Furniture|  300|            8|   4.0|
|        6|Washing Machine| Appliances|  700|            5|   4.6|
|        7|   Refrigerator| Appliances| 1200|            3|   4.8|
|        8|     Headphones|Electronics|  100|           25|   4.4|
|        9|      Microwave| Appliances|  150|            7|   4.3|
|       10|           Sofa|  Furniture|  600|            4|   4.7|
+---------+---------------+-----------+-----+-------------+------+


Sorted DataFrame (by Price desc, Category asc):
+---------+---------------+-----------+-----+-------------+------+
|ProductID|    ProductName|   Category|Price|StockQuantity|Rating|
+---------+---------------+-----------+-----+-------------+------+
|        7|   Refrigerator| Appliances| 1200|            3|   4.8|
|        1|         Laptop|Electronics|  800|           10|   4.5|
|        6|Washing Machine| Appliances|  700|            5|   4.6|
|       10|           Sofa|  Furniture|  600|            4|   4.7|
|        2|     Smartphone|Electronics|  500|           20|   4.3|
|        5|          Table|  Furniture|  300|            8|   4.0|
|        4|        Monitor|Electronics|  200|           12|   4.1|
|        9|      Microwave| Appliances|  150|            7|   4.3|
|        3|     Desk Chair|  Furniture|  150|           15|   4.2|
|        8|     Headphones|Electronics|  100|           25|   4.4|
+---------+---------------+-----------+-----+-------------+------+


Total Sales Amount by Category:
+-----------+----------------+
|   Category|TotalSalesAmount|
+-----------+----------------+
|Electronics|           22900|
|  Furniture|            7050|
| Appliances|            8150|
+-----------+----------------+


Total Sales Amount and Total Quantity Sold for Each Product:
+---------------+----------------+-----------------+
|    ProductName|TotalSalesAmount|TotalQuantitySold|
+---------------+----------------+-----------------+
|     Desk Chair|            2250|               15|
|         Laptop|            8000|               10|
|          Table|            2400|                8|
|     Smartphone|           10000|               20|
|        Monitor|            2400|               12|
|   Refrigerator|            3600|                3|
|      Microwave|            1050|                7|
|           Sofa|            2400|                4|
|Washing Machine|            3500|                5|
|     Headphones|            2500|               25|
+---------------+----------------+-----------------+