In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, avg, split, explode

# Start a Spark session
spark = SparkSession.builder.appName("MovieRatingsAnalysis").getOrCreate()

# Load the movies dataset
movies_file_path = "/content/movies.csv"  # Update with the correct path
movies_df = spark.read.option("header", "true").csv(movies_file_path, inferSchema=True)

# Load the ratings dataset
ratings_file_path = "/content/ratings.csv"  # Update with the correct path
ratings_df = spark.read.option("header", "true").csv(ratings_file_path, inferSchema=True)

# Show the schema to understand the structure
movies_df.printSchema()
ratings_df.printSchema()

# Create temporary views for movies and ratings data
movies_df.createOrReplaceTempView("movies")
ratings_df.createOrReplaceTempView("ratings")

# ---------------------- 1. Find the most active users ----------------------

# SQL query to find the most active users (users who have rated the most movies)
query_active_users = """
    SELECT userId, COUNT(rating) AS num_ratings
    FROM ratings
    GROUP BY userId
    ORDER BY num_ratings DESC
    LIMIT 10
"""

# Execute the query
most_active_users = spark.sql(query_active_users)
most_active_users.show()

# ---------------------- 2. Sort the movie names in alphabetical order ----------------------

# SQL query to sort movies by title in alphabetical order
query_sorted_movies = """
    SELECT movieId, title
    FROM movies
    ORDER BY title ASC
"""

# Execute the query
sorted_movies = spark.sql(query_sorted_movies)
sorted_movies.show()

# ---------------------- 3. Calculate the average rating per genre ----------------------

# Split the genres by '|' and explode them to create multiple rows per movie
movies_genres_df = movies_df.withColumn("genre", explode(split(col("genres"), "\|")))

# Join with ratings to get the ratings for each genre
genre_ratings_df = movies_genres_df.join(ratings_df, "movieId")

# Create a temporary view for the joined DataFrame
genre_ratings_df.createOrReplaceTempView("genre_ratings")

# SQL query to calculate the average rating per genre
query_avg_rating_per_genre = """
    SELECT genre, AVG(rating) AS avg_rating
    FROM genre_ratings
    GROUP BY genre
    ORDER BY avg_rating DESC
"""

# Execute the query
avg_rating_per_genre = spark.sql(query_avg_rating_per_genre)
avg_rating_per_genre.show()

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: integer (nullable = true)

+------+-----------+
|userId|num_ratings|
+------+-----------+
|   414|       2698|
|   599|       2478|
|   474|       2108|
|   448|       1864|
|   274|       1346|
|   610|       1302|
|    68|       1260|
|   380|       1218|
|   606|       1115|
|   288|       1055|
+------+-----------+

+-------+--------------------+
|movieId|               title|
+-------+--------------------+
|   7789|"11'09""01 - Sept...|
| 117867|          '71 (2014)|
|  97757|'Hellboy': The Se...|
|  26564|'Round Midnight (...|
|  27751| 'Salem's Lot (2004)|
|    779|'Til There Was Yo...|
| 149380|'Tis the Season f...|
|   2072|  'burbs, The (1989)|
|   3112|'night Mother (1986)|
|  69757|(500) Days of Sum...|
|   8169|*batteries not in...|
|   5706|...All the Marble...|
|   3420|...And Justice fo...|
| 157110|00 Schneider - Ja...|
|    889|   1-900 (06) (1994)|
|   6658|           10 (1979)|
| 139717|10 Cent Pistol (2...|
| 152077|10 Cloverfield La...|
|  49284|10 Items or Less ...|
|   2572|10 Things I Hate ...|
+-------+--------------------+
only showing top 20 rows

+------------------+------------------+
|             genre|        avg_rating|
+------------------+------------------+
|         Film-Noir| 3.920114942528736|
|               War|   3.8082938876312|
|       Documentary| 3.797785069729286|
|             Crime| 3.658293867274144|
|             Drama|3.6561844113718758|
|           Mystery| 3.632460255407871|
|         Animation|3.6299370349170004|
|              IMAX| 3.618335343787696|
|           Western| 3.583937823834197|
|           Musical|3.5636781053649105|
|         Adventure|3.5086089151939075|
|           Romance|3.5065107040388437|
|          Thriller|3.4937055799183425|
|           Fantasy|3.4910005070136894|
|(no genres listed)|3.4893617021276597|
|            Sci-Fi| 3.455721162210752|
|            Action| 3.447984331646809|
|          Children| 3.412956125108601|
|            Comedy|3.3847207640898267|
|            Horror| 3.258195034974626|
+------------------+------------------+